doctype html
html(lang="en")
  head
    title="qwertery"
    block font-links
      link(
        href!='http://fonts.googleapis.com/css?family=Rokkitt', 
        rel='stylesheet', 
        type!='text/css'
      )
    block stylesheets
      link(rel='stylesheet', href!='css/main.css')
  body
    .sidebar-wrapper
      block sidebar
        .sidebar
          .race-buttons
            .race-button#start-race-button
              | START RACE
            .race-button.race-button-small#invite-friends-button
              | INVITE FRIENDS
          .login-buttons
            .login-button(onclick!="document.location = '/users/signup'")
              | Signup
            .login-button(onclick!="document.location = '/users/login'")
              | Login
    .main-content-wrapper
      .main-content
        block main-content
          .centered-presentation
            #index-keyboard-icon-wrapper
              img#index-keyboard-icon(src!="images/keyboard-white.png")
            #index-logo
              | qwertery
    block body-scripts
      script(src!="js/jquery.js")