extends ./layouts/primary.jade

block main-content
  .main-content
    .centered-presentation
      #index-keyboard-icon-wrapper
        img#index-keyboard-icon(src!="images/keyboard-white.png")
      #index-logo
        | qwertery