/* line 1, ../../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  font-family: 'Rokkitt', serif;
}

/* line 7, ../../sass/main.scss */
body {
  color: #000;
  font-family: 'Rokkitt', serif;
  background-color: #0e0e0e;
}

/*********************
* GENERAL RULES
**********************/
/* line 17, ../../sass/main.scss */
.content-panel {
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  text-align: left;
  padding: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

/* line 27, ../../sass/main.scss */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 31, ../../sass/main.scss */
input[type="text"], input[type="password"] {
  background-color: #fff;
  color: #444;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* line 39, ../../sass/main.scss */
input[type="submit"] {
  background-color: #3d6acf;
  padding: 7px 10px;
  border: 1px solid #294688;
  color: #fff;
  border-radius: 3px;
  font-family: 'Rokkitt', serif;
  font-size: 120%;
  cursor: pointer;
}

/* line 49, ../../sass/main.scss */
input[type="submit"]:hover {
  background-color: #294688;
}

/*********************
* DOM ORGANIZED
**********************/
/* line 61, ../../sass/main.scss */
.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #2e2e2e;
  z-index: 3;
}
/* line 69, ../../sass/main.scss */
.sidebar-wrapper .sidebar {
  height: 100%;
  width: 330px;
  padding: 15px 0;
}
/* line 74, ../../sass/main.scss */
.sidebar-wrapper .sidebar .race-button {
  margin: 15px 15px 0 0;
  background-color: #cf583d;
  font: 400 56.25px/66.708px "Rokkitt";
  color: #fff;
  padding: 10px 10px;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 0 5px 5px 0;
  box-shadow: 6px 5px 26px -8px rgba(0, 0, 0, 0.75);
  border: thin solid #000;
  border-left: none;
}
/* line 87, ../../sass/main.scss */
.sidebar-wrapper .sidebar .race-button:hover {
  background-color: #3d6acf;
  cursor: pointer;
}
/* line 91, ../../sass/main.scss */
.sidebar-wrapper .sidebar .race-button-small {
  font-size: 35px;
  margin-right: 35px;
  padding: 0 10px;
}
/* line 96, ../../sass/main.scss */
.sidebar-wrapper .sidebar #start-race-button {
  background-image: url(/images/keyboard-button-bg.png);
}
/* line 99, ../../sass/main.scss */
.sidebar-wrapper .sidebar #invite-friends-button {
  background-image: url(/images/people-racing-button-bg.png);
}
/* line 103, ../../sass/main.scss */
.sidebar-wrapper .sidebar .login-buttons {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 15px;
}
/* line 109, ../../sass/main.scss */
.sidebar-wrapper .sidebar .login-buttons .login-button {
  background: #3d6acf;
  margin-bottom: 15px;
  color: #fff;
  font-size: 35px;
  margin-right: 35px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: 6px 5px 26px -8px rgba(0, 0, 0, 0.75);
}
/* line 119, ../../sass/main.scss */
.sidebar-wrapper .sidebar .login-buttons .login-button:hover {
  background: #3d83cf;
  cursor: pointer;
}

/* line 127, ../../sass/main.scss */
.main-content-wrapper {
  position: absolute;
  left: 330px;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 134, ../../sass/main.scss */
.main-content-wrapper .main-content {
  text-align: center;
}
/* line 137, ../../sass/main.scss */
.main-content-wrapper .main-content .centered-presentation {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}
/* line 144, ../../sass/main.scss */
.main-content-wrapper .main-content .centered-presentation #index-keyboard-icon-wrapper #index-keyboard-icon {
  opacity: .5;
}
/* line 148, ../../sass/main.scss */
.main-content-wrapper .main-content .centered-presentation #index-logo {
  font-size: 500%;
  color: #fff;
  opacity: .5;
}

/* line 5, ../../sass/race.scss */
.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 14, ../../sass/race.scss */
.main-content .race-upper-pane .race-text-wrapper {
  padding-top: 3%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/* line 21, ../../sass/race.scss */
.main-content .race-upper-pane .race-text-wrapper .race-text {
  width: 100%;
  color: #b5b5b5;
  font-size: 300%;
}
/* line 30, ../../sass/race.scss */
.main-content .race-upper-pane .race-input-wrapper {
  margin-top: 75px;
}
/* line 33, ../../sass/race.scss */
.main-content .race-upper-pane .race-input-wrapper .race-input {
  background-color: #b5b5b5;
  font-size: 290%;
  border-radius: 0;
  color: #1f1f1f;
  width: 310px;
}
/* line 43, ../../sass/race.scss */
.main-content .race-lower-pane {
  position: absolute;
  height: 40%;
  bottom: 0;
  width: 100%;
  background-color: #111;
  text-align: left;
}
/* line 51, ../../sass/race.scss */
.main-content .race-lower-pane .race-status-header {
  color: #696969;
  border: 1px solid #696969;
  border-left: none;
  border-right: none;
  font-size: 110%;
  padding: 3px 4px;
}
